<!DOCTYPE html>
<html>
    <head>
        <title>5eTools Data Tool</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>

    <body class="body">
        <div class="row">
            <div class="column left">
                <h1><a href="/info">5eTools Data Tool</a></h1>
        
                <div id="categoryButtons"></div>
        
                <nav id="buttonsNav"></nav>

                <h2 id="categoryHeading" name="categoryHeading"></h2>
                <div id="parentFormDiv"></div>
                <div id="listDiv">
                    <div id="listPageButtonsDiv"></div>
                    <ul id="itemList" class="itemList"></ul>
                </div>     
            </div>

            <div class="column middle">
                <h1 id="infoHeader"></h1>
                <div id="buildSelectionButtonDiv"></div>
                <div id="infoDiv"></div>
            </div>

            <div class="column right">
                <h1 id="buildHeader">Your Build</h1>
                <div id="buildRaceDiv">
                    <h2 id="buildRaceLabel">Race: <span id="buildRaceSelectionSpan" class="raceBuild"></span> </h2>
                </div>
                <div id="buildBackgroundDiv">
                    <h2 id="buildBackgroundLabel">Background: <span id="buildBackgroundSelectionSpan" class="backgroundBuild"></span> </h2>
                </div>
                <div id="buildFeatDiv">
                    <h2 id="buildFeatLabel">Feats: <span id="buildFeatSelectionSpan" class="featBuild"></span> </h2>
                    <ul id="buildFeatList"></ul>
                </div>
                <div id="buildSpellDiv">
                    <h2 id="buildSpellLabel">Spells: <span id="buildSpellSelectionSpan" class="spellBuild"></span> </h2>
                    <ul id="buildSpellList"></ul>
                </div>
            </div>
          </div>

    </body>

    <style>

        

        
    </style>
    
    <script type="module" src="../static/scripts.js"></script>

    <script type="module">
    </script>
</html>