<!DOCTYPE html>
<html>
    <head>
        <title>5eTools Data Tool</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="row">
            <div class="column left">
                <h1>5eTools Data Tool</h1>
        
                <div id="categoryButtons"></div>
        
                <nav id="buttonsNav"></nav>

                <h2 id="categoryHeading" name="categoryHeading"></h2>
                <div id="parentFormDiv"></div>
                <div id="listDiv">
                    <div id="listPageButtonsDiv"></div>
                    <ul id="itemList"></ul>
                </div>     
            </div>

            <div class="column right">
                <h1 id="infoHeader"></h1>
                <div id="infoDiv"></div>
            </div>
          </div>

    </body>

    <style>
        .column {
            float: left;
            }
            
        .left {
        width: 30%;
        }
        
        .right {
        width: 70%;
        }
        
    </style>
    
    <script src="../static/scripts.js"></script>
</html>