<!DOCTYPE html>
<html>
    <head>
        <title>5eTools Data Tool</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>

    <body class="body">
        <h1>What is this?</h1>
        <div>
            This program displays data from 5eTools (https://5e.tools/index.html), an open source rules repository for the game Dungeons & Dragons 5th edition. <br>
            The game publishes official rules and content across many books. This site aggregates them into one place.<br>
            This program scrapes data contained in JSON files in 5eTools' backend /data directory and allows the user to browse through it. <br>
            A brief explanation of the game itself can be found here (https://dnd.wizards.com/basics-play).<br>
            This program provides an interface for browsing the game's character Races, Backgrounds, Feats, and Spells.<br>
        </div>

        <h3>Races:</h3>
        <div>
            Every character belongs to a race, one of the many intelligent humanoid species in the D&D world. <br>
            The most common player character races are dwarves, elves, halflings, and humans.<br>
            The race you choose contributes to your character's identity in an important way, by establishing a general appearance and the natural talents gained from culture and ancestry. <br>
            Your character's race grants particular racial traits, such as special senses, proficiency with certain weapons or tools, proficiency in one or more skills, or the ability to use minor spells.<br>
            Your race also increases one or more of your ability scores.<br>
        </div>

        <h3>Backgrounds:</h3>
        <div>
            When creating a character, players usually choose a predefined background archetype that aligns to the backstory that they have in mind for their character.<br>
            Ex. A character raised in a church by the clergy might choose the Acolyte background. <br>
            Backgrounds provide a character certain features and determine what languages they speak, skills and tools they are trained in, etc.<br>
        </div>

        <h3>Feats:</h3>
        <div>
            A feat represents a talent or an area of expertise that gives a character special capabilities. <br>
            It embodies training, experience, and special abilities.<br>
            They provide the character various unique features and bonuses, and can grant proficiencies and ability score increases.<br>
        </div>

        <h3>Spells:</h3>
        <div>
            Some characters have the ability to perform magic spells to change the world around them, as simple as creating a puff of smoke or as powerful as changing reality as a whole. <br>
            Spellcaster characters choose from the list of spells which ones that they have access to at any point in time.<br>
        </div>

        <h3>Form Fields:</h3>
        Name: Filter for items whose names begin with the entered query.<br>
        Source: Filter items by the source material book that they were printed in.<br>
        Language Proficiencies:Languages that the character can speak.<br>
        Skill Proficiencies: Proficiency in a skill provides a bonus when rolling to perform actions having to do with that skill, Ex. Athletics proficieny making it easier to climb a rocky cliff.<br>
        Ability Bonus: Characters' strengths are defined by 6 stats: 
        <ul>
            <li>Strength (str), </li>
            <li>Dexterity (dex), </li>
            <li>Constitution (con),</li>
            <li>Intelligence (int),</li>
            <li>Wisdom (wis),</li>
            <li>Charisma (cha).</li>
        </ul>

        Tool Proficiencies: Proficiency with a tool provides a bonus when rolling to perform actions using that tool, Ex. Theive's Tools proficieny making it easier to pick a lock.<br>
        Size: Races belong to one of three size categories: Small, Medium, Large. <br>
        Duration: Some spells resolve their effects instantaneously, some have lingering effects that last a certain amount of time.<br>
        Level: As a spellcaster character gains levels, they gain access to stronger, higher level spells. <br>
        School: A broad category to which spells belong based on their effects.<br>

    </body>

    <style>
        .body {
            background-color: #222;
            color: #bbb;
            
        }
    </style>

</html>